Temp
Doxygen
Unijam_9_Lives.CSharp.csproj
Unijam_9_Lives.CSharp.Plugins.csproj
*.sln
.vs
Library
obj
Assembly-CSharp.csproj
Assembly-CSharp-firstpass.csproj
Unijam_9_Lives.CSharp.csproj
Unijam_9_Lives.CSharp.Plugins.csproj
Unijam_9_Lives.v11.suo
/Temp
/Doxygen
/Unijam_9_Lives.CSharp.csproj
/Unijam_9_Lives.CSharp.Plugins.csproj
/.vs
/Library
/obj
/Assembly-CSharp.csproj
/Assembly-CSharp-firstpass.csproj
/Unijam_9_Lives.CSharp.csproj
/Unijam_9_Lives.CSharp.Plugins.csproj
/Unijam_9_Lives.v11.suo
/Temp/*
/Doxygen/*
/.vs/*
/Library/*
/obj/*
/*.userprefs
